<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/quanlycuahang?useSSL=false&amp;serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=utf8&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.cuahang.entity.SanPham"/>
        <mapping class="com.cuahang.entity.LoaiSanPham"/>
        <mapping class="com.cuahang.entity.NhaCungCap"/>
        <mapping class="com.cuahang.entity.KhachHang"/>
        <mapping class="com.cuahang.entity.NhanVien"/>
        <mapping class="com.cuahang.entity.TaiKhoan"/>
        <mapping class="com.cuahang.entity.HoaDon"/>
        <mapping class="com.cuahang.entity.ChiTietHoaDon"/>

        </session-factory>
</hibernate-configuration>
